body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    background-color: rgb(202, 196, 196);
    /* height: 100vh; */
    margin-bottom: 50px;
}

.oponent {
    display: flex;
    /* justify-content: space-between; */
    gap:20px
}

.oponent>button {
    appearance: none;
    border-radius: 10px;
    padding:5px;
    font-size: 20px;
    /* background-color: white; */
}

.oponent>button:hover,
.marks>button:hover {
    scale:1.1;
}

/* .oponent>button:active {
    background-color: rgb(250, 23, 23);
} */


h1 {
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form>div {
    display: flex;
    width:110px;
    justify-content: space-between;
}

select {
    /* appearance: none; */
    width:100px;

}



.marks {
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.marks>div {
    display:flex;
    gap: 30px;
}

.marks>div>.mark:hover{
    scale:1.2;
    cursor:pointer;
}

.marks>button {
    appearance: none;
    border-radius: 10px;
}

.mark {
    width:30px;
    /* margin: 38px; */
}

.playerMark {
    width:30px;
    margin: 38px;
}


.board {
    display: grid;
    grid-template: repeat(3, 110px) / repeat(3,110px);
    background-color: black;
    gap:1px;
    
}

.board>div {
    /* border: 1px solid; */
    background-color: rgb(202, 196, 196);
}